body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(10, 2, 50, 0.968);
    color: #fff;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info {
    flex: 1;
    padding-right: 50px;
}

.contact-info h2 {
    color: #16e4de;
    font-size: 2em;
    margin-bottom: 20px;
    margin-left: 480px;
}

.contact-info p {
    font-size: 1.2em;
    line-height: 1.6;
}

.contact-details {
    margin-top: 20px;
}

.contact-details p {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    margin: 10px 0;
}
.contact-details i {
    margin-right: 10px;
    font-size: 1.3em;
}
.contact-form {
    flex: 1;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input,
.input-box textarea {
    width: 30%;
    padding: 10px;
    font-size: 1.1em;
    background-color: #f5f4f4;
    border: none;
    outline: none;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    margin-left: 390px;
    height: 15px;
}

.input-box input:focus,
.input-box textarea:focus {
    background-color: #5c5c5c;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 0px;
    font-size: 1.1em;
    pointer-events: none;
    color: #aaa;
    transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box textarea:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label,
.input-box textarea:not(:placeholder-shown) ~ label {
    top: -20px;
    left: 10px;
    font-size: 17px;
    color: #e8edee;
    margin-left: 387px;
}


textarea {
    min-height: 150px;
    resize: none;
}

button {
    width: 30%;
    padding: 15px;
    font-size: 1.2em;
    background-color: #08cfcf;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 410px;
    color: rgb(252, 252, 252);
    font-weight: bold;
    padding-left: 21px;
    height: 50px;
}
button:hover {
    background-color: #17c7a8;
    transform: translateY(-3px);
}


