body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:  rgba(10, 2, 50, 0.968);
    padding: 10px 0;
    z-index: 1000;
    height: 40px;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
    padding-top: 8px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}
.navbar ul li a:hover {
    color: #22ccdf;
}
#image{
    width: 290px;
    height: 260px;
    margin-left: 470px;
    margin-top: -4px;
    padding-top: 150px;
   /* border-radius: 200px 200px 200px 200px; 
    box-shadow: 0 0 10px 10px hsl(185, 86%, 69%);*/
}
.name{
    font-family: roman;
    font-size: 45px;
    font-style: italic;
    text-align: center;
    color: black;
    margin-left:6px;
    margin-top: -6px;
}

#tribute-info{background-color:  rgba(10, 2, 50, 0.968);
    height: 70px;
    width: 1230px;
    color: rgba(253, 253, 253, 0.945);
    border-radius: 5px 5px 5px 5px
}
.int{
    border-radius: 200px 200px 200px 200px; 
    height: 110px;
    width: 110px;
    box-shadow: 0 0 5px 5px hsl(243, 92%, 15%);
    margin-left: 118px;
 
}
label{
    margin-left: 140px; 
    font-size: 20px;
}
.intim{
    display: flex;
    direction: row;
}
.footer{
 padding-top: 24px;
 padding-left: 30px;
 font-size: 16px;

}















